.inicio{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  border: solid blue;
  color: blue;
}
h1{
  margin: 8px;
}
#cadastrar{
  height: 40px;
  margin: 10px;
}
.formulario{
  margin: 10px auto;
  width: 300px;
}
form{
  width: 300px;
  border: solid blue;
  border-radius: 5px;
  text-align: center;
  padding: 10px auto;
  position: absolute;
  background-color: rgb(42, 116, 165);
  opacity: 80%;
  color: white;
  font-weight: bolder;
}
button{
  border-radius: 5px;
  border: solid;
}
table{
  width: 700px;
  border: solid blue;
  background-color: white;
  text-align: center;
  margin: auto;
  color: blue;
}
.container{
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.botoes{
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
input{
  border-radius: 5px;
  text-align: center;
}
