<!--DropMenu-->
<div class="btn-group">
  <button type="button" class="home">
    <a routerLink="/principal" routerLinkActive="active">Página Inicial</a>
  </button>
  </div>
  <div class="btn-group" style="width: 10px;"></div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cadastro
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="/livros" routerLinkActive="active">Livros</a>
    <a class="dropdown-item" routerLink="/filmes" routerLinkActive="active">Filmes</a>
    <a class="dropdown-item" routerLink="/jogos" routerLinkActive="active">Jogos</a>
</div>
</div>
<div class="btn-group" style="width: 10px;"></div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Contatos
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Whatsapp</a>
    <a class="dropdown-item" href="#">Instagram</a>
    <a class="dropdown-item" href="#">Facebook</a>
</div>
