<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acervo</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!--Componente Banner-->
<app-banner></app-banner>

<!--Componente Cabeçalho-->
<app-cabecalho></app-cabecalho>

<!--Rotas-->
<router-outlet></router-outlet>

<!--Componente Rodapé-->
<app-rodape></app-rodape>

<!--Bootstrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
