<!--Título e Botão Cadastrar-->
<div class="inicio">
  <h1>JOGOS</h1>
  <button id="cadastrar" class="btn btn-primary" data-toggle="collapse" data-target="#dados">CADASTRAR</button> <!--Data-toogle usado para desabilitar o collapse-->
</div>

<!--Formulário-->
<div class="formulario">
  <form [formGroup]="formularioLivro" class="collapse" id="dados"> <!--Collapse usado para ocultar o Formulário-->
    <label for="id">Código</label>
    <p><input id="id" type="number" formControlName="campoId" [(ngModel)]="this.jogo.id"></p>
    <label for="titulo">Título</label>
    <p><input id="titulo" type="text" formControlName="campoTitulo" [(ngModel)]="this.jogo.titulo"></p>
    <label for="fabricante">Fabricante</label>
    <p><input id="fabricante" type="text" formControlName="campoFabricante" [(ngModel)]="this.jogo.fabricante"></p>
    <label for="genero">Gênero</label>
    <p><input id="genero" type="text" formControlName="campoGenero" [(ngModel)]="this.jogo.genero"></p>
    <!--Botões do Formulário-->
    <div class="botoes">
      <button type="button" class="btn btn-primary" (click)="gravar()">SALVAR</button>
      <button class="btn btn-primary" data-toggle="collapse" data-target="#dados">FECHAR</button>
    </div>
  </form>
</div>

<!--Tabela onde os dados digitados do Formulário serão capturados-->
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Título</th>
        <th scope="col">Fabricante</th>
        <th scope="col">Gênero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of listaJogos"> <!--Criando um objeto para lista de jogos com os atributos do model jogos-->
        <td>{{obj.id}}</td>
        <td>{{obj.titulo}}</td>
        <td>{{obj.fabricante}}</td>
        <td>{{obj.genero}}</td>
      </tr>
    </tbody>
  </table>
</div>

